---
layout: default
title: Заметки Ворона
---

{% for post in paginator.posts %}
<article>
    <header>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    {% include meta.html post=post %}
    <section class="content">
        {% if post.content contains "<!--more-->" %}
        {{ post.content | split:"<!--more-->" | first % }}
        <div class="more">
            <a class="btn" href="{{ post.url }}">Читать далее</a>
        </div>
        {% else %}
        {{ post.content }}
        {% endif %}
    </section>
</article>
{% endfor %}

{% include paginator.html %}
