.btn-search {
  position: relative;
  float: right;
  margin: 8px;
  padding: 5px 8px 8px 5px;
  line-height: 0;

  .icon-search {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    border: solid 1px #c8c8c8;
    border-radius: 100%;
    transition: border-color 0.3s;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -5px;
      top: 19px;
      transform: rotate(45deg);
      transition: background 0.3s;
      background: #c8c8c8;
      width: 9px;
      height: 2px;
    }
  }

  &:hover {
    .icon-search {
      border-color: #d35400;
      &:after {
        background: #d35400;
      }
    }
  }
}

.search-results {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  background: rgba(28, 28, 56, 0.9);
  overflow-x: scroll;
  opacity: 0;

  &.active {
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  input[type="search"] {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 17px;
    background: none;
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.57);
    border-radius: 0;
    outline: none;
    color: #fff;
  }

  .result {
    display: block;
    padding: 10px 5px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.57);

    .title {
      white-space: nowrap;
      color: #fff;
      font-size: 1.1rem;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .content {
      white-space: nowrap;
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8rem;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &.active,
    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
      background: rgba(255, 255, 255, 0.36);
    }
  }
}